body{
    background: url('./assets/img/abkorim.jpg');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100px;
}
.header {
    height: 100px;
}